/* font-family: 'Open Sans', sans-serif; 
font-family: "Montserrat";*/

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-Bold.woff") format("embedded-opentype"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 62.5%;
  font-family: "Montserrat";
}

@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}

.wrapper {
  background: linear-gradient(51.78deg, #5540bf 28.44%, #afa1f9 99.76%);
  padding-bottom: 12.1rem;
}
.header {
  margin-bottom: 11.8rem;
  padding-top: 4rem;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding-right: 8.3rem;
}

.container {
  width: 110rem;
  margin: 0 auto;
}
.header__logo {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 122%;
  text-transform: uppercase;
  color: #ffffff;
}
.header__nav {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.header__item {
  text-decoration: none;
  color: #ffffff;
}
.header__item:not(:last-child) {
  margin-right: 3.1rem;
}
.hero .container {
  display: flex;
  justify-content: space-between;
}

.hero__img {
  width: 56.1rem;
  height: 51.1rem;
}

.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__text {
  width: 47.5%;
  color: #ffffff;
}

.hero__header {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 113%;
  margin-bottom: 3.5rem;
}
.hero__description {
  font-weight: 400;
  font-size: 2rem;
  line-height: 144%;
  margin-bottom: 6.5rem;
  max-width: 42.5rem;
  font-family: "Open Sans", sans-serif;
}
.hero__buttons {
  margin-bottom: 3.5rem;
  display: flex;
}
.hero__link {
  max-width: 20rem;
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 125%;
  text-transform: uppercase;
  border: 0.1rem solid #ffffff;
  border-radius: 0.5rem;
  padding: 1.7rem 4.1rem;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease-in;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hero__link:first-child {
  margin-right: 2rem;
}

.hero__link:hover {
  background-color: #ffffff;
  color: #5540bf;
}
.hero__subtext {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 128%;
  max-width: 46rem;
}

.link {
  background-color: #8776db;
  box-shadow: 0px 0px 100px rgba(175, 161, 249, 0.3);
}
.link__block {
  padding: 5.5rem 0 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link__item {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  padding: 2.5rem 5.1rem;
  border: 0.2rem solid #ffffff;
  border-radius: 100px;
  transition: 0.3s ease-in;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3rem;
}

.link__item:hover {
  border: 0.2rem solid #ffd100;
  color: #ffd100;
}
.online {
  background: linear-gradient(78.94deg, #5540bf 36.07%, #afa1f9 99.58%);
}
.online .container {
  display: flex;
}
.online__text {
  padding: 10.1rem 4.2rem 10.1rem 0;
  color: #ffffff;
}
.online__header {
  max-width: 50rem;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 117%;
  margin-bottom: 3.6rem;
}
.online__description {
  font-size: 1.8rem;
  line-height: 155%;
  margin-bottom: 4.4rem;
  max-width: 51.6rem;
}

.online__img {
  width: 58.8rem;
  height: 45.5rem;
  margin-top: -6rem;
}
.online__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.call {
  padding-top: 17rem;
  padding-bottom: 16rem;
}
.call .container {
  display: flex;
}
.call__left {
  position: relative;
  left: -11.2rem;
}
.call__img-small {
  position: absolute;
  right: -3rem;
  bottom: -5rem;
}
.call__img-big {
  width: 53.6rem;
  height: 40rem;
}
.call__img-big img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.call__img-small {
  width: 20rem;
  height: 39.6rem;
}
.call__img-small img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.call__header {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 117%;
  color: #333333;
  margin-bottom: 3.4rem;
}
.call__description {
  font-size: 1.8rem;
  line-height: 156%;
  color: #333333;
  margin-bottom: 4.3rem;
}
.call__link {
  background-color:  #5540BF;
}


.footer {
  padding-top: 7rem;
  padding-bottom: 5.5rem;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 122%;
  color: #5540bf;
  text-transform: uppercase;
}
.footer__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 137%;
  color: #5540bf;
}
.footer__icons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.6rem;
}
.footer__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__icon {
  width: 3rem;
  height: 3rem;
}
.footer__icon:not(:last-child) {
  margin-right: 1.8rem;
}

@media (min-width: 48em) {
  .hero__link:hover {
    background-color: #ffffff;
    color: #5540bf;
  }
  .call__link:hover {
    border: 0.1rem solid #5540BF;
  }

}
@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
  .wrapper {
    padding-bottom: 8rem;
  }
  .container {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .header {
    margin-bottom: 8rem;
  }
  .header__logo {
    font-size: 2.2rem;
  }
  .header__nav {
    display: none;
  }
  .header .container {
    padding-right:0rem;
  }
  .hero .container {
    flex-direction: column-reverse;
    
  }

  .hero__img {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
  }

  .hero__text {
    width: 100%;
    color: #ffffff;
  }

  .hero__header,
  .online__header {
    font-size: 3rem;
    margin-bottom: 3.5rem;
    line-height: 130%;
  }
  .hero__description {
    font-size: 2rem;
    line-height: 144%;
    max-width: 100%;
  }
  .hero__buttons {
    margin-bottom: 0;
    flex-direction: column;
  }

  .hero__link {
    max-width: 100%;
    text-align: center;
  }

  .hero__link:first-child {
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .hero__link:last-child {
    margin-bottom: 2rem;
  }

  .hero__subtext {
    line-height: 140%;
    max-width: 100%;
  }
  .link__item {
    font-size: 1rem;
    margin-bottom: 3rem;
    margin-right: 0;
    justify-content: space-between;
    padding: 1.5rem 3.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .online .container {
    flex-direction: column-reverse;
    padding-top: 4rem;
  }
  .online__img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .online__header {
    max-width: 50rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 117%;
    margin-bottom: 3.6rem;
    overflow: hidden;
    white-space: nowrap;
  }
  .online__text {
    padding: 5rem 0 5rem 0;
    color: #ffffff;
  }

  .call .container{
    flex-direction: column;
   
  }
  .call {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  .call__left {
    left: 0;
    margin-bottom: 8rem;
  }
  .call__img-small {
    width: 50%;
    height: auto;
    padding-right: 0rem;
    right: -2rem;
  }
  .call__img-big {
    width: 100%;
    height: auto;
  }

  .call__img-small img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
  }
 

  .call__header {
    
    font-size: 3rem;
    line-height: 140%;
    
  }
 

  .footer {
    padding-top: 5.5rem;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__icons {
    justify-content: center;
    margin-top: 2.6rem;
  }

  .footer__text {
    text-align: center;
  }
}
